@font-face {
   font-family: 'cairo';
   src: url(./../fonts/Cairo-VariableFont_wght.ttf);
}
:root {
   --blue: #1e90ff;
   --white: #ffffff;
   --bs-nav-link-hover-color: #a3d09d;
}
/* Scroll bar style */
/* width */
::-webkit-scrollbar {
   width: 10px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #f1f1f1;

}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #126C66;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #10948b;
 }
/* Scroll bar style */

*{
   box-sizing: border-box;
   font-family: "Cairo",Arial,Helvetica,sans-serif;
}
.bg-main{
   background: #126C66;
}
.text-main{
   color:  #126C66;
}
.nav-link:hover {
   color: #a3d09d !important;
}

.nav-item{
   cursor: pointer;
}

.card-item img{
   width: 60px;
   max-height: 65px;
   filter: brightness(0) invert(1);
}
.card-item a {
   transition: all 0.5s;
}
.card-item a:hover {
   background: #126C66;
}
.card-item a:hover h4  {
   color: white;
}

.card-item a:hover .bg-main{
   background-color: #38847F;
}

.box{
   min-height: 10rem;
}
.logo{
   width: auto;
}
.teachers-main-border{
   border: 5px solid #126C66;
   border-radius: 12px;
   min-height: 150px;
}
.teacher-img{
   max-height: 4.6rem;
}



@media screen and (max-width: 768px) {
   .logo{
      width: 100%;
   }
   .department-manager h2,.department-manager h4{
      font-size: small !important;
   }
}
@media screen and (max-width: 1200px) {
   .department-manager h2,.department-manager h4{
      font-size: medium !important;
   }
}
@media screen and (min-width: 1200px){

   .teachers-main-border{
      min-height: 200px;
   }
   .teacher-img{
      max-height: 6.25rem;
   }
   .content h4{
      font-size: 2rem;
   }
   .content p {
      font-size: 0.8rem;
      margin: 0px;
   }
}